/target/
bin/

src/main/resources/rebel.xml
.project
src/main/resources/git.properties
src/main/resources/qwanda-git.properties
**/src/main/resources/git.properties

.settings/org.eclipse.wst.common.component
.settings/*

.classpath
./.classpath

/.apt_generated/
/.apt_generated_tests/
Qwanda.srctrlbm
Qwanda.srctrldb
Qwanda.srctrlprj
/sourcetrail_depoendencies/
.idea/
*.iml
.mvn/
